{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}

<a href="{% url 'cart_detail' %}">
  <p style="text-align:center;">Cart (   {{request.session.cart|length}} ) </p>
</a>
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="/images/{{product.image}}" class="img-fluid" alt="">

        </div>

        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">


            

            <p class="lead">
              <h3><p><span>{{product.name}}</span></p></h3>
              <span>₹ {{ product.price }}</span>
            </p>

            <p class="lead font-weight-bold">Description: </p>
            <p>{{product.description}}</p>
            
            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{% url 'cart_add' product.id %}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{% url 'item_clear' product.id %}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>

          
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      
    </div>
  </main>
<hr>
<br>
{% if rateduser %}
    <center><b>Rating: {{rating}}</b></center>
{% else %}

  <form action="{% url 'page_view' product.id %}" method="POST">

    {% csrf_token %}
    <div class="container">
        <div class="container">
          {{ratingform | crispy  }}
          <br>
          <center><input type="submit" value="Rating" class="btn btn-dark"></center>
        </div>
    </div>
<br>
   
</form>

  {% endif %}

<br>
<br>



{% endblock %}