{% extends 'base.html' %}


{% block body_block %}
{% include "navbar.html" %}
<style>
 
 .column {
  float: left;
  width: 29.33%;
  padding: 10px;
  /* height: 300px;  Should be removed. Only for demonstration */
}

.row {
  padding: 20PX;
  display: flex;
  flex-direction: column;
}

.cart-and-rating {
  width:100px;
}

.add-cart {
  width:130px;
}
.description {
  padding: 10px 0 0 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
body{
  		background: #FDFDFD;
			font-family: "Segoe WP","Segoe UI", Helvetica, Arial, sans-serif;
			text-align:left;
		}
	
	
		.rating {
			width: 226px;
			margin: 0 auto 1em;
			font-size: 45px;
			overflow:hidden;
		}
	.rating input {
		float: right;
		opacity: 0;
		position: absolute;
	}
		.rating a,
    .rating label {
			float:right;
			color: #aaa;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
		.rating a:hover,
		.rating a:hover ~ a,
		.rating a:focus,
		.rating a:focus ~ a		{
			color: orange;
			cursor: pointer;
		}
		
 
</style>



<div class="row">
  <h2>{{product.name}}</h2>
  <div style="display:flex">

    <div class="column">
      <img src="/images/{{product.image}}" alt="Cool" width="400" height="400">
      <br>
    </div>
    <div class="description">
      <p>{{product.description}}</p>
    </div>
  </div>
      <div class="cart-and-rating">
        Rs : {{product.price}}
        <button href="{% url 'cart_add' product.id %}" class="add-cart btn btn-primary">Add To Cart</button>
      </div>
      <br>
      <div class="cart-and-rating">
        {% if rateduser %}

          Product Rating : {{rating}}

      {% else %}
      <div>

        <h3>Rating</h3>
        <form action="{% url 'page_view' product.id  %}" method="POST">
          <div style="display:flex">
            {% csrf_token %}
            {{ratingform}}
          </div>
          <br>
          <input type="submit" value="Rating">
        </form>
      </div>
        
        {% endif %}
      </div>

      
   
    </div>
    
    
    
    {% endblock %}