{% extends 'base.html' %}

{% block body_block %}
{% include 'navbars.html' %}

    <h1>Add Product </h1>

    <form action="{% url 'sellerp' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
            {{obj_t.as_p}}


        <input type="submit" value="Add Product">
    </form>
    <br>
    <br>
    <h5>Products by u</h5>

    {% for i in sproducts %}
    <div class="col-4 mt-3">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/{{i.image}}" alt="Cool">
            <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
              <p class="card-text"><b>Rs:  {{i.price}}</b></p>
              <a href="{% url 'cart_add' i.id %}" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
          <br>

    </div>
    {% endfor %}
</div>




    </div>




{% endblock %}