{% extends 'base.html' %}


{% block body_block %}


<h3>Seller Login Page</h3>

<form method="post" action="{% url 'slogin' %}">
    {% csrf_token %}
    <div class="form-group">
    <p>
            <label for="id_username">username</label>
            <input class="form-control" id="id_username" name="username" autofocus="" required="" type="text">
        </p>
    <p>
            <label for="id_password">password</label>
            <input class="form-control" id="id_password" name="password" autofocus="" required="" type="password">
        </p>
    <button type="submit">login</button>
    </div>
    <a href="{% url 'ssignup' %}">Seller Signup</a>
</form>

{% endblock %}