{% extends 'base.html' %}

{% block body_block %}
{% include "navbar.html" %}

<style>
    .card-img-top {
        width: 200px;
        height: 250px;
    }
</style>


<div class="row mt-3" style="margin-top: 5rem!important;">

    {% for i in products %}
    <div class="col-4 mt-6">

        <div class="card" style="width: 18rem;">
            <center><a href="{% url 'page_view' i.id %}"><img class="card-img-top" src="/images/{{i.image}}"
                        alt="Cool"></a></center>
            <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <p class="card-text"><b>Rs: {{i.price}}</b></p>
                <a href="{% url 'cart_add' i.id %}" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
        <br>

    </div>
    {% endfor %}
</div>

{% endblock %}