{% extends 'base.html' %}

{% block body_block %}

<center><h2>Customer Signup</h2></center><br>

    <form action="{% url 'csignup' %}" method="POST">
        {% csrf_token %}
        <p>
            <label class="col-4 control-label"> {{ form.username.label }}</label>
            {{form.username}}
        </p>
        <p>
            <label class="col-4 control-label"> {{ form.email.label }}</label>
            {{form.email}}
        </p>
        <p>
            <label class="col-4 control-label"> {{ form.password1.label }}</label>
            {{form.password1}}
        </p>
        <p>
            <label class="col-4 control-label"> {{ form.password2.label }}</label>
            {{form.password2}}
        </p>
            {{form.errors}}
        <input type="submit" value="Register">
    </form>
{% endblock %} 
